<style>
.navbar {
   margin-bottom: 0;
   background-color: black;
   z-index: 9999; 
   border: 0; 
   line-height: 1.42857143 !important;
   border-radius: 0; 
   font-family: 'Times New Roman', Times, serif; 
   font-size: 17px !important;
}
navbar li a, .navbar  {
      color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: red !important;
      background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }
</style>