{% extends 'base.html' %}

{% block start %}
<div class="container theme-showcase" role="main">
<div class="container-fluid">
 <div class="row">
    {% if mouse %}
        <br><br><br>
        {% for mouses in mouse %}
            <div class="col-lg-3">
                <div class="thumbnail">
                    <a href="{% url 'detail_mouse' mouses.id %}"><img src="{{ mouses.mouse_logo.url }}" class="img-responsive"></a>
                    <div class="caption">
                        <h2 style="font-family: 'Times New Roman', Times, serif;font-style: italic;">{{ mouses.mouse_name }}</h2>
                        <h4 style="font-family: 'Times New Roman', Times, serif;font-style: italic;"><span class="glyphicon glyphicon-usd"></span>{{ mouses.price }} Only</h4>
                        <a href="{% url 'detail_mouse' mouses.id %}" class="btn btn-primary btn-sm" role="button">View Details</a>
                        <a href="{% url 'add_to_cart_mouse' mouses.id %}" class="btn btn-primary btn-sm" role="button">Add to Cart</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="col-sm-12">
        {% include 'paginator.html' with page=mouse %}
        </div>
    {% endif %}
</div>
</div>
</div>
{% endblock %}